@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Barlow',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://cdn.discordapp.com/attachments/1038329663187062804/1143424490873823242/Psycho_Deliverance_Stunning_interpretation_in_epic_dynamic_dram_8d3e3a0f-4afa-40f1-94ec-0ca03c75d9b2.png"); */
  background-color: #191B1F;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
